body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav {
  background-color: #2b3e50;
}

.pointer {
    cursor: pointer;
}

.dudu-selected {
    background-color: #F3F4F5;
}
.dudu-height {
    height: 50%;
}
.carbox {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.footer {
    text-align: -webkit-center;
}

