body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav {
  background-color: #2b3e50;
}

.pointer {
    cursor: pointer;
}

.dudu-selected {
    background-color: #F3F4F5;
}

.carbox {
    padding: 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.returning {
    height: 26vh;
    overflow-y: auto;
}

.available {
    height: 51vh;
    overflow-y: auto;
}

.footer {
    text-align: -webkit-center;
}

