body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav {
  background-color: #2b3e50;
}

.carbox {
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.footer {
    text-align: -webkit-center;
}

