<script type="text/javascript">
    $(function () {
        $('.datetimepicker1').datetimepicker();
    });
</script>
<div ng-init="init()">
    <div class="modal-header">
        {{updateMode}}
    </div>
    <div class="modal-body">
        <form action="#">
            <div class="form-group">
                <label for="carNumberInput" class="float-left">Car number</label>
                <input type="text" class="form-control" id="carNumberInput" placeholder="Car Number" ng-model="currCar.number">
            </div>
            <div class="form-group">
                <label for="carManufacturerInput" class="float-left">Manufacturer</label>
                <input type="text" class="form-control" id="carManufacturerInput" placeholder="Manufacturer" ng-model="currCar.type.manufacturer">
            </div>
            <div class="form-group">
                <label for="carModelInput" class="float-left">Model</label>
                <input type="text" class="form-control" id="carModelInput" placeholder="Model" ng-model="currCar.type.model">
            </div>
            <div class="form-group">
                <label for="carYearInput" class="float-left">Year</label>
                <p class="input-group datetimepicker1" id="carYearInput">
                    <input type="text" class="form-control" ng-model="currCar.type.year"
                           datepicker-popup="{{format}}" datepicker-options="{{datepickerOptions}}"
                           is-open="opened" ng-focus="open($event)"
                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"></input>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                </p>
            </div>
            <div class="form-group">
                <label for="carCategorySelect" class="float-left">Category</label>
                <select id="carCategorySelect" class="form-control" ng-model="currCar.category">
                    <option ng-repeat="category in categories" value="{{category}}">{{ category }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="carPriceInput" class="float-left">Price</label>
                <input type="number" class="form-control" id="carPriceInput" placeholder="Price" ng-model="currCar.price">
            </div>
            <div class="form-group">
                <label for="carGearboxSelect" class="float-left">Gearbox</label>
                <select id="carGearboxSelect" class="form-control" ng-model="currCar.gearbox">
                    <option ng-repeat="gearbox in gearboxes" value="{{gearbox}}">{{ gearbox }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="carBranchSelect" class="float-left">Branch</label>
                <select id="carBranchSelect" class="form-control" ng-model="currCar.branch">
                    <option ng-repeat="branch in branches" value="{{branch._id}}">{{ branch.title }}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
    </div>
</div>