<div class="col-md-8">
    <div class="panel-heading panel-default">
        <h4>Cars Available Now!</h4>
    </div>
    <div class="">
        <div class="panel-body">
            <div class="row">
                <label >Filters:</label>
                <div class="">
                    <div class="form-group col-md-3">
                        <input class="form-control input-sm" placeholder="Manufacturer" ng-model="search.type.manufacturer" type="text">
                    </div>
                    <div class="form-group col-md-3">
                        <input class="form-control input-sm" placeholder="Category" ng-model="search.category"  type="text">
                    </div>
                    <div class="form-group col-md-3">
                        <input class="form-control input-sm" placeholder="Gearbox" ng-model="search.gearbox"  type="text">
                    </div>
                    <!--<div class="form-group col-md-12">-->
                        <!--<input class="form-control input-sm" placeholder="Anything" ng-model="search" type="text">-->
                    <!--</div>-->
                </div>
            </div>
            <hr>
            <div class="row available">
                <h4 ng-hide="(freeCars | filter:search).length">No Available Cars!</h4>
                <div class="col-sm-6 " ng-repeat="car in freeCars | filter:search" > <!--| filter:search-->
                    <div class="thumbnail carbox animated bounceInUp" ng-click="openModal('',car,selectedDay.date)">
                        <h3> {{car.type.manufacturer}} {{car.type.model}}
                            <small> {{car.type.year}}</small>
                        </h3>
                        <p> Car Number: <b>{{car.number}}</b></p>
                        <p> Category: <b>{{car.category}}</b>, Price: <b>{{car.price}}</b></p>
                        <p> Gearbox: <b>{{car.gearbox}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<aside class="col-md-4 panel">
    <div class="">
        <div class="panel-heading panel-default">
            <h4>Cars Returning</h4>
        </div>
        <div class="panel-body returning">
            <h5 ng-hide="(carReturning | filter:{ branch: search.branch }).length">All Cars are Available!</h5>
            <ul class="list-group">
                <li class="list-group-item animated bounceInRight pointer"
                    ng-repeat="car in carReturning | filter:{ branch: search.branch } | orderBy: 'hours'"
                    data-toggle="collapse"
                    data-target="#client{{$index}}">
                    {{car.type.manufacturer}} {{car.type.model}}
                    <span class="badge">{{car.returning}}</span>
                    <div class="collapse" id="client{{$index}}" style="margin-top: 7px;">
                        {{car.client_name}} - {{car.phone}} <small>{{car.mission}}</small>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div>
        <tien-clndr class="clndr col-xs-12" tien-clndr-object="clndr" tien-clndr-events="events">
            <div class="clndr-controls">
                <div class="clndr-previous-button" ng-click="clndr.back()">
                    &lsaquo;
                </div>
                <div class="month">
                    {{month}}
                </div>
                <div class="clndr-next-button" ng-click="clndr.forward()">
                    &rsaquo;
                </div>
            </div>
            <div class="clndr-grid">
                <div class="days-of-the-week">
                    <div class="header-day" ng-repeat="day in options.daysOfTheWeek track by $index">
                        {{day}}
                    </div>
                </div>
                <div class="days">
                    <div class="{{day.classes}} pointer"
                         ng-class="{'dudu-selected': selectedDay.day == day.day}"
                         ng-repeat="day in days" ng-click="showEvents(day)">
                        <div class="event-indicator" ng-show="day.events.length">{{day.events.length}}</div>
                        {{day.day}}
                    </div>
                </div>
            </div>
        </tien-clndr>
    </div>
    <uib-timepicker ng-model="selectedDay.date"
                    ng-change="timeChanged()"
                    hour-step="time.hstep" minute-step="time.mstep"
                    show-meridian="ismeridian"
                    style="margin:auto">
    </uib-timepicker>
</aside>