<div class="col-md-8">
    <div class="panel-heading panel-default">
        <h4>Cars Available Now!</h4>
    </div>
    <div class="">
        <div class="panel-body">
            <div class="row">
                <label >Filters:</label>
                <div class="">
                    <div class="form-group col-md-3">
                        <input class="form-control input-sm" placeholder="Manufacturer" ng-model="search.type.manufacturer" type="text">
                    </div>
                    <div class="form-group col-md-3">
                        <input class="form-control input-sm" placeholder="Category" ng-model="search.category"  type="text">
                    </div>
                    <div class="form-group col-md-3">
                        <input class="form-control input-sm" placeholder="Gearbox" ng-model="search.gearbox"  type="text">
                    </div>
                    <button class="btn btn-primary" ng-click="search()">
                        Filter
                    </button>
                    <!--<div class="form-group col-md-12">-->
                        <!--<input class="form-control input-sm" placeholder="Anything" ng-model="search" type="text">-->
                    <!--</div>-->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6" ng-repeat="car in cars"> <!--| filter:search-->
                    <div class="thumbnail carbox" ng-click="openModal('',car)">
                        <h3> {{car.type.manufacturer}} {{car.type.model}}
                            <small> {{car.type.year}}</small>
                        </h3>
                        <p> Category: <b>{{car.category}}</b>, Price: <b>{{car.price}}</b></p>
                        <p> Gearbox: <b>{{car.gearbox}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<aside class="col-md-4 panel">
    <div class="panel-heading panel-default">
        <h4>Cars Returning</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">

            <li class="list-group-item" ng-repeat="car in carReturning">
                {{car.type.manufacturer}} {{car.type.model}} - {{car.type.year}}
                <span class="badge">{{car.returning}}</span></li>
        </ul>
    </div>
</aside>