<div class="jumbotron text-center" ng-init="init()">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Car Number</th>
            <th>Car</th>
            <th>Price</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders">
            <td>{{ order.car.number }}</td>
            <td>{{ order.car.type.manufacturer }} {{ order.car.type.model }} - {{ order.car.type.year }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.startDate }}</td>
            <td>{{ order.endDate }}</td>
            <td><button type="button" class="btn btn-primary" ng-click="deleteOrder(order._id)">Delete</button></td>
        </tr>
        </tbody>
    </table>

</div>