<div class="modal-header">
    <h3 class="modal-title">Create Order - {{car.type.manufacturer}} {{car.type.model}} <small>{{car.type.year}}</small></h3>
</div>
<div class="modal-body" ng-init="init()">
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="carNumberInput">Car number</label>
                <input type="text" class="form-control" id="carNumberInput" placeholder="Car Number"
                       ng-model="car.number">
            </div>
            <div class="form-group">
                <label for="startDate">Start date</label>
                <div class='input-group date datetimepicker1'>
                    <input type='text' class="form-control" id="startDate" ng-model="dates.start"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate">End date</label>
                <div class='input-group date datetimepicker1'>
                    <input type='text' class="form-control" id="endDate" ng-model="dates.end"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="orderMission" class="float-left">Mission</label>
                <select id="orderMission" class="form-control" ng-model="mission">
                    <option ng-repeat="mission in missions" value="{{mission}}">{{ mission }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="client_name">Client's name</label>
                <input type="text" class="form-control" id="client_name" placeholder="Client's name"
                       ng-model="client_name">
            </div>
            <div class="form-group">
                <label for="phone">Client's phone</label>
                <input type="text" class="form-control" id="phone" placeholder="Client's phone"
                       ng-model="phone">
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>