<div>
    <style>
        .news {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;
        }

        @font-face {
            font-family: myFirstFont;
            src: url(../public/font/SansationLight.woff);
            font-weight: bold;
        }
    </style>
    <div class="news">
        Under each car, you'll see a <b>number</b> that shows you how our customers rate that company at that location.
        We know pick-up speed matters. That's why it's one of the seven categories that make up the overall rating - just click on the number to see them all.
        Friendly, helpful, professional... most of our customers have something to say about the attitude of the counter staff!
        All the reviews we publish are written by real customers, making them a great way to find out what you can expect at the counter.
        We know how important this is, so we tell you everything you need to know before you book. Not just ratings & reviews, but fuel policy, pick-up information, terms and conditions...
    </div>
    <video width="400" controls>
        <source src="../public/videos/carVideo.mp4" type="video/mp4">
    </video>
</div>